@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: #272c33;
}

.container{
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading{
    text-align: center;
    color: aqua;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}

.score{
    color: aqua;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width:80%;
    margin-top: 10px;
}


.main-box{
    background: #3f4652;
    margin-top: 50px;
    padding: 5px;
    width: 50%;
    color: aqua;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-box h3{
    text-align: center;
    font-size: 25px;
    margin-bottom: 12px;
}

.input-box{
    margin: 40px 0;
    text-align: center;
}

#number{
    height: 30px;
    background: none;
    border: none;
    border-bottom: 2px solid aqua;
    color: aqua;
}

.forButton{
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    background: aqua;
    border: none;
    padding: 8px 15px;
    margin-left: 12px;
    cursor: pointer;
}

.forButton:hover{
    background: rgba(0, 255, 255, 0.829);
    transition: background 0.3s ease-in;
}

.result-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12px;
    text-align: center;
}

#sparkel{
    display: none;
}

#result{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

.reset-box{
    text-align: center;
}

#reset{
    margin: 0;
}
